<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xnqkkrqy" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Full Name/Nombre Completo</label>
    <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
    <label for="email-address">Email Address/Dirección de Correo Electrónico</label>
    <input type="email" name="_replyto" id="email-address" placeholder="email@domain.com" required="">
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
  </fieldset>
  <input type="submit" value="Subscribe">
</form>
